#body_content {
    width: 75%;
    margin: 0 auto 50px;
    padding-top: 135px;
}
#body_content .page_title {
    color: #e53329;
    font-size: 60px;
    font-weight: bold;
}
#main_contain {
    background-color: #ffe9db;
    width: 60%;
    margin: 30px 0;
    padding: 20px;
}
#main_contain p{
    padding-top: 10px 0;
}
.title-job {
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.inf-job {
    color: #883a04;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    text-align: justify;
}
.inf-job p {
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.inf-job label {
    color: #883a04;
    font-weight: bold;
    display: block;
    margin-top: 5px;
}
.inf-job ul {
    list-style: square;
    padding-top: 10px;
    padding-left: 15px;
}
.inf-job ul li {
    padding: 15px;
}