#body_content{
    padding: 130px 150px 30px 150px;
}
#body_content .page_title{
    font-size: 80px;
    color: #e53328;
    font-weight: bold;
}
#body_content .page-top{
    margin-left: 20px;
    margin-top: 5px;
    padding-left: 10px;
    color: blue;
    font-size: 20px;
    margin-bottom: 2px;
}

#top-vip {
    display: flex;
    color: saddlebrown;
    font-size: 15px;
    margin-left: 20px;
    
}

#top-left {
    padding: 10px  0px;
    background: rgb(248, 246, 246);
    width: 260px;
    height: 190px;
   
}
#top-left ul, #top-right ul {
    list-style-type: none;
}
#top-left ul li, #top-right ul li  {   
    line-height: 40px;
}
#top-left a, #top-right a{
    display: block;    
    text-decoration: none;
    font-size: 15px;
    color: rgb(179, 113, 6);
    border-bottom: 2px solid #d45721;
    padding-left: 10px;
}

#top-right {
    margin-left: 10px;
    padding: 10px 0px;
    background: rgb(248, 246, 246);   
    width: 250px;
    height: 190px;
    margin-bottom: 30px;
    
}
